body {
  margin: 0;
  background-color: #cfcfcf;
  color: #000;
  font-family: "Segoe UI", sans-serif;
}
nav {
  background-color: #844500;
  width: 100%;
  padding: 3px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.3);
}
nav: h1 {
  color: #44d7f5;
}
.container {
  background-color: #fff;
  margin: 18px;
  padding: 110px 80px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  background-color: #844500;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 14px 10px;
}
.card {
  margin: 18px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 50px;
}
footer {
  background-color: #844500;
  color: #000;
  width: 100%;
  height: 40px;
  padding: 20px 1px;
  text-align: center;
}